
@test "Test_unencrypted_unsigned_image $IMAGE $IMAGE_SIZE $RUNTIMECLASSNAME" {
		set_runtimeclass_config $RUNTIMECLASSNAME
		switch_measured_rootfs_verity_scheme none
		add_kernel_params "agent.https_proxy=http://child-prc.intel.com:913"
		add_kernel_params "agent.no_proxy=*.sh.intel.com,10.*"
		for COUNTS in {1..$POD_NUM}
		do
			pod_config="$(new_pod_config $TEST_COCO_PATH/../fixtures/unsigned-uncrypted-images-config.yaml.in "$IMAGE" "$RUNTIMECLASSNAME" "$REGISTRTYIMAGE")"
			unencrypted_unsigned_image_from_unprotected_registry $pod_config
		done
		multiple_pods_delete
		rm $TEST_COCO_PATH/../fixtures/unsigned-uncrypted-images-config.yaml.in.*
		
}
