@test "Test_concurrency_eaa_kbc_encrypted_image $IMAGE $IMAGE_SIZE $RUNTIMECLASSNAME ${POD_NUM}PODs" {
	#skip  
	set_runtimeclass_config $RUNTIMECLASSNAME
	if [ $(echo ${RUNTIMECLASSNAME} | grep tdx | wc -l) -le 0 ]; then
        skip
    fi
	#clear_kernel_params
	remove_kernel_param "agent.aa_kbc_params"
	switch_image_service_offload on
	$TEST_COCO_PATH/../run/losetup-crt.sh /opt/confidential-containers/share/kata-containers/kata-ubuntu-latest-tdx.image c
	switch_measured_rootfs_verity_scheme none
	#remove_kernel_param "agent.enable_signature_verification"
	generate_encrypted_image $IMAGE
	
	setup_eaa_decryption_files_in_guest
	for COUNTS in {1..$POD_NUM}
	do
		pod_config="$(new_pod_config_concurrency $TEST_COCO_PATH/../tests/concurrency/fixtures/concurrency_pod_config.yaml.in "$IMAGE" "$RUNTIMECLASSNAME" "$REGISTRY_NAME/$IMAGE:encrypted" "$COUNTS")"
		unencrypted_unsigned_image_from_unprotected_registry $pod_config
	done
	multiple_pods_delete
	
}
